<h1>Quelle ingrédient souhaitez vous importer ?</h1>
<form method="POST" action="/scrap">
  <div class="form-group">
    <label for="ingredient">Ingredient</label>
    <input type="content  " class="form-control" placeholder="Ingrédient ?" name="ingredient">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

