<h1>Bienvenue sur votre Cookbook !!</h1>
<p>Que souhaitez vous faire aujourd'hui ?</p>
  <ul>
    <li><a href="/list" class="btn btn-default">Lister toutes les recipes</a></li>
    <li><a href="/create" class="btn btn-primary">Créer une nouvelle recette</a></li>
    <li><a href="/destroy" class="btn btn-danger">Supprimer une recette</a></li>
    <li><a href="/import" class="btn btn-default">Importer une recette de Marmiton</a></li>
    <li><a href="/done" class="btn btn-default">Marquer une recette comme faite</a></li>
    <li><a href="http://www.perdu.com" class="btn btn-default">Quitter le livre de recette</a></li>
  </ul>
</p>
